{% extends "layout.html" %}

{% block title %}
    Login
{% endblock %}

{% block main %}
    <div class="reg-log">
        <h2><span class="mylog">My</span>Nance Login</h2>
        <div class="reg-log-in">
            <form action="/login", method="post">
                <div class="form-space">
                    <input autocomplete="off" autofocus id="username" name="username" placeholder="Username" type="text">
                </div>
                <div class="form-space">
                    <input autocomplete="off" autofocus id="password" name="password" placeholder="Password" type="password">
                </div>
                <button type="submit" class="input-button">Login</button>
            </form>
        </div>
    </div>
{% endblock %}